{% extends 'headerfooter.html' %}
{% block content %}
<!-- <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			Modal content-->
			<div class="modal-content">
				<div class="modal-header">
<!-- 					<button type="button" class="close" data-dismiss="modal">&times;</button> -->

					<div class="signin-form profile">
						<h3 class="agileinfo_sign">password..</h3>
						<div class="login-form"> 
							<form action="/forgetchangepswd/?id={{myid}}" method="POST">
								 {% csrf_token %} 
								<!-- <input type="text" name="name" placeholder="Username" required="">
								<input type="text" name="phone" placeholder="Phone no" required="">
								<input type="email" name="email" placeholder="Email" required="">
								<input type="password" class="password" name="psw" id="password1" placeholder="Password" required="" />
								<input type="password" class="password" name="Confirm Password" id="password2" placeholder="Confirm Password" required=""
								/> -->
								<input type="password"  name="newpassword" placeholder="Enter Your New Password" required="">
							<input type="password" name="cpassword"  placeholder="confirm Password" required="">
								<input type="submit" value="Confirm">
							</form>
						</div>
						<p><a href="#"> By clicking register, I agree to your terms</a></p>
					</div>
				</div>
			</div>
<!-- 		</div>
	</div> -->

{% endblock%}	